In [1]:
import numpy as np
import pandas as pd

data=pd.read_csv("movies_dataset.csv")
data.head()
#data.shape

C:\Users\Acer\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

,Unnamed: 0,User_Id,Movie_Name,Rating,Genre
0,0,1,Pulp Fiction (1994),5.0,Comedy|Crime|Drama|Thriller
1,1,1,Three Colors: Red (Trois couleurs: Rouge) (1994),3.5,Drama
2,2,1,Three Colors: Blue (Trois couleurs: Bleu) (1993),5.0,Drama
3,3,1,Underground (1995),5.0,Comedy|Drama|War
4,4,1,Singin' in the Rain (1952),3.5,Comedy|Musical|Romance

In [2]:
data.shape

(25000095, 5)

In [3]:
data['Movie_Name'].value_counts()

Forrest Gump (1994)                 81491
Shawshank Redemption, The (1994)    81482
Pulp Fiction (1994)                 79672
Silence of the Lambs, The (1991)    74127
Matrix, The (1999)                  72674
                                    ...
Night Into Morning (1951)               1
Flirting with Fate (1916)               1
Cheerful Wind (1981)                    1
The Cuckoo Clock (1938)                 1
Il pesce innamorato (1999)              1
Name: Movie_Name, Length: 58958, dtype: int64

### 1.  Atleast 1000 reviews

In [4]:
rating1000 = data.groupby('Movie_Name').filter(lambda x: x['Rating'].count() >= 1000)
rating1000.head()

,Unnamed: 0,User_Id,Movie_Name,Rating,Genre
0,0,1,Pulp Fiction (1994),5.0,Comedy|Crime|Drama|Thriller
1,1,1,Three Colors: Red (Trois couleurs: Rouge) (1994),3.5,Drama
2,2,1,Three Colors: Blue (Trois couleurs: Bleu) (1993),5.0,Drama
3,3,1,Underground (1995),5.0,Comedy|Drama|War
4,4,1,Singin' in the Rain (1952),3.5,Comedy|Musical|Romance

In [5]:
rating1000.shape

(22142587, 5)

In [6]:
rating1000['Movie_Name'].value_counts()

Forrest Gump (1994)                 81491
Shawshank Redemption, The (1994)    81482
Pulp Fiction (1994)                 79672
Silence of the Lambs, The (1991)    74127
Matrix, The (1999)                  72674
                                    ...
Pet Sematary II (1992)               1001
Stakeout (1987)                      1000
Darkest Hour (2017)                  1000
Black Mass (2015)                    1000
Farinelli: il castrato (1994)        1000
Name: Movie_Name, Length: 3794, dtype: int64

In [7]:
rating1000.isnull().sum(axis = 0)

Unnamed: 0    0
User_Id       0
Movie_Name    0
Rating        0
Genre         0
dtype: int64

### 2. Has average rating of 4 or more

In [8]:
avgrtg = rating1000.groupby('Movie_Name', as_index=False).Rating.mean()

In [9]:
rating1000 = rating1000.merge(avgrtg, on='Movie_Name', how='left')
rating1000.head()

,Unnamed: 0,User_Id,Movie_Name,Rating_x,Genre,Rating_y
0,0,1,Pulp Fiction (1994),5.0,Comedy|Crime|Drama|Thriller,4.188912
1,1,1,Three Colors: Red (Trois couleurs: Rouge) (1994),3.5,Drama,4.072967
2,2,1,Three Colors: Blue (Trois couleurs: Bleu) (1993),5.0,Drama,3.981409
3,3,1,Underground (1995),5.0,Comedy|Drama|War,3.946020
4,4,1,Singin' in the Rain (1952),3.5,Comedy|Musical|Romance,4.050987

In [10]:
del rating1000['Rating_x']
rating1000.head()

,Unnamed: 0,User_Id,Movie_Name,Genre,Rating_y
0,0,1,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.188912
1,1,1,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,4.072967
2,2,1,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,3.981409
3,3,1,Underground (1995),Comedy|Drama|War,3.946020
4,4,1,Singin' in the Rain (1952),Comedy|Musical|Romance,4.050987

In [11]:
rating1000=rating1000.rename(columns={'Rating_y': 'average_rating'})
rating1000.head()

,Unnamed: 0,User_Id,Movie_Name,Genre,average_rating
0,0,1,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.188912
1,1,1,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,4.072967
2,2,1,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,3.981409
3,3,1,Underground (1995),Comedy|Drama|War,3.946020
4,4,1,Singin' in the Rain (1952),Comedy|Musical|Romance,4.050987

In [12]:
high_rating_movies = rating1000[rating1000['average_rating'] >= 4.0]
high_rating_movies.shape

(3511479, 5)

In [13]:
high_rating_movies['average_rating'].describe()

count    3.511479e+06
mean     4.118631e+00
std      8.632424e-02
min      4.000589e+00
25%      4.052931e+00
50%      4.107340e+00
75%      4.154099e+00
max      4.483096e+00
Name: average_rating, dtype: float64

### 3. Release year is later than 2000

In [14]:
high_rating_movies["year"] = high_rating_movies["Movie_Name"].str[-5:-1]
high_rating_movies["Movie_Name"] = high_rating_movies["Movie_Name"].str[:-7]
high_rating_movies.head()

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,User_Id,Movie_Name,Genre,average_rating,year
0,0,1,Pulp Fiction,Comedy|Crime|Drama|Thriller,4.188912,1994
1,1,1,Three Colors: Red (Trois couleurs: Rouge),Drama,4.072967,1994
4,4,1,Singin' in the Rain,Comedy|Musical|Romance,4.050987,1952
7,7,1,Ran,Drama|War,4.142050,1985
8,8,1,"Seventh Seal, The (Sjunde inseglet, Det)",Drama,4.093324,1957

In [15]:
high_rating_movies['year'] = high_rating_movies['year'].astype(int)
year2000=high_rating_movies[high_rating_movies['year']>2000]
year2000.shape

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(686113, 6)

In [16]:
year2000['year'].describe()

count    686113.000000
mean       2006.599643
std           4.872387
min        2001.000000
25%        2002.000000
50%        2006.000000
75%        2010.000000
max        2018.000000
Name: year, dtype: float64

In [17]:
year2000['Genre']=year2000['Genre'].str.split('|')
year2000.head()

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,User_Id,Movie_Name,Genre,average_rating,year
24,29,1,"Amelie (Fabuleux destin d'Amélie Poulain, Le)","[Comedy, Romance]",4.101282,2001
28,36,1,"Lord of the Rings: The Two Towers, The","[Adventure, Fantasy]",4.068051,2002
29,37,1,City of God (Cidade de Deus),"[Action, Adventure, Crime, Drama, Thriller]",4.181587,2002
39,48,1,Eternal Sunshine of the Spotless Mind,"[Drama, Romance, Sci-Fi]",4.066351,2004
179,203,2,"Lord of the Rings: The Fellowship of the Ring,...","[Adventure, Fantasy]",4.091189,2001

In [18]:
year2000 = year2000.loc[:, ~year2000.columns.str.contains('^Unnamed')]
year2000.head()

,User_Id,Movie_Name,Genre,average_rating,year
24,1,"Amelie (Fabuleux destin d'Amélie Poulain, Le)","[Comedy, Romance]",4.101282,2001
28,1,"Lord of the Rings: The Two Towers, The","[Adventure, Fantasy]",4.068051,2002
29,1,City of God (Cidade de Deus),"[Action, Adventure, Crime, Drama, Thriller]",4.181587,2002
39,1,Eternal Sunshine of the Spotless Mind,"[Drama, Romance, Sci-Fi]",4.066351,2004
179,2,"Lord of the Rings: The Fellowship of the Ring,...","[Adventure, Fantasy]",4.091189,2001

In [19]:
df = pd.DataFrame(data = year2000)
df = df.iloc[:,[0,1,2,4,3]]
df.head()

,User_Id,Movie_Name,Genre,year,average_rating
24,1,"Amelie (Fabuleux destin d'Amélie Poulain, Le)","[Comedy, Romance]",2001,4.101282
28,1,"Lord of the Rings: The Two Towers, The","[Adventure, Fantasy]",2002,4.068051
29,1,City of God (Cidade de Deus),"[Action, Adventure, Crime, Drama, Thriller]",2002,4.181587
39,1,Eternal Sunshine of the Spotless Mind,"[Drama, Romance, Sci-Fi]",2004,4.066351
179,2,"Lord of the Rings: The Fellowship of the Ring,...","[Adventure, Fantasy]",2001,4.091189

In [20]:
del df['User_Id']
df.head()

,Movie_Name,Genre,year,average_rating
24,"Amelie (Fabuleux destin d'Amélie Poulain, Le)","[Comedy, Romance]",2001,4.101282
28,"Lord of the Rings: The Two Towers, The","[Adventure, Fantasy]",2002,4.068051
29,City of God (Cidade de Deus),"[Action, Adventure, Crime, Drama, Thriller]",2002,4.181587
39,Eternal Sunshine of the Spotless Mind,"[Drama, Romance, Sci-Fi]",2004,4.066351
179,"Lord of the Rings: The Fellowship of the Ring,...","[Adventure, Fantasy]",2001,4.091189

In [21]:
df=df.rename(columns={'Genre': 'genre'})
df.head()

,Movie_Name,genre,year,average_rating
24,"Amelie (Fabuleux destin d'Amélie Poulain, Le)","[Comedy, Romance]",2001,4.101282
28,"Lord of the Rings: The Two Towers, The","[Adventure, Fantasy]",2002,4.068051
29,City of God (Cidade de Deus),"[Action, Adventure, Crime, Drama, Thriller]",2002,4.181587
39,Eternal Sunshine of the Spotless Mind,"[Drama, Romance, Sci-Fi]",2004,4.066351
179,"Lord of the Rings: The Fellowship of the Ring,...","[Adventure, Fantasy]",2001,4.091189

In [29]:
len(df['Movie_Name'].unique())

47

In [30]:
df=df.drop_duplicates(subset=['Movie_Name'])

In [31]:
df.shape

(47, 4)

### Converting to JSON

In [32]:
import json
# convert dataframe to list of dictionaries
data = df.to_dict(orient='records')

# create a new dictionary with first column as key and rest as values
new_data = {}
for row in data:
    key = row.pop('Movie_Name') # remove 'name' column and use as key
    new_data[key] = row # use remaining columns as values

with open('data.json', 'w') as f:
    json.dump(new_data, f)